<launch>
  <!-- ZED-mini node -->
  <include file="$(find riseq_estimation)/launch/riseq_zedm_wrapper.launch" />

  <!-- SVO node -->
  <include file="$(find riseq_estimation)/launch/riseq_svo_zedm.launch" />

  <!-- OctoMap -->
  <arg name="path" default="" />
  <arg name="changeIdFrame" default="" />
  <node pkg="octomap_server" type="octomap_tracking_server_node" name="riseq_estimation_octomap_talker" output="screen" args="$(arg path)">
    <param name="frame_id" type="string" value="world" />
    <param name="resolution" value="0.05" />

    <param name="sensor_model/max_range" value="12.0" />
    <!--param name="sensor_model/[hit|miss]" value="0.7 / 0.4" /-->
    <!--param name="sensor_model/[min/max]" value="0.12  /0.97" /-->

    <!--param name="filter_ground" value="true" /-->
    <!--param name="ground_filter/distance" value="0.04" /-->
    <!--param name="ground_filter/plane_distance" value="0.07" /-->

    <param name="save_directory" value="$(optenv OCTOMAP_SAVE_DIR ./)" />
    <param name="track_changes" value="true"/>
    <param name="listen_changes" value="false"/>
    <param name="topic_changes" value="/octomap_tracking_server/changeset" />
    <param name="change_id_frame" value="$(arg changeIdFrame)" />
    <param name="min_change_pub" value="0" />

    <!-- Remap ZED point cloud and OctoMap point cloud -->
    <remap from="/cloud_in" to="/zed/zed_node/point_cloud/cloud_registered" />
  </node>

  <!-- TF publisher to set SVO position as origin of the camera on world frame -->
  <node pkg="riseq_estimation" type="riseq_estimation_tf_publisher.py" name="riseq_estimation_tf_publisher" />
</launch>
