<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/zed/zed_node/point_cloud/cloud_registered" />
    <remap from="~output" to="/riseq/estimation/point_cloud" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.15
      filter_limit_max: 7.5
      filter_limit_negative: False
      leaf_size: 0.1
    </rosparam>
  </node>
</launch>
