<launch>
  <!-- ZED-mini node -->
  <include file="$(find zed_wrapper)/launch/zedm.launch"/>

  <!-- SVO -->
  <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen">
    <!-- Camera and IMU topics to subscribe to -->
    <param name="cam0_topic" value="/zed/zed_node/left_raw/image_raw_color" type="str" />
    <param name="cam1_topic" value="/zed/zed_node/right_raw/image_raw_color" type="str" />
    <param name="imu_topic" value="/zed/zed_node/imu/data" type="str" />
    <param name="calib_file" value="$(find riseq_estimation)/calib/zedm_calib.yaml" type="str" />

    <rosparam file="$(find riseq_estimation)/param/zedm.yaml" />
    <rosparam file="$(find riseq_estimation)/param/zedm_imu.yaml" />

  </node>

  <!-- RVIZ + SVO GUI -->
  <node name="vis" pkg="rviz" type="rviz" args=" -d $(find svo_ros)/rviz_config.rviz" />
  <node name="svo_gui" pkg="rqt_gui" type="rqt_gui" args="-s rqt_svo.svo.Svo --args --topic svo" />
</launch>
