<launch>
    <!-- OctoMap -->
    <arg name="path" default="" />
    <arg name="changeIdFrame" default="" />
    <node pkg="octomap_server" type="octomap_tracking_server_node" name="riseq_estimation_octomap_talker" output="screen" args="$(arg path)">
      <param name="frame_id" type="string" value="local_origin" />

      <!-- The resolution of the grid -->
      <param name="resolution" value="0.1" />

      <param name="sensor_model/max_range" value="7.5" />
      <!--param name="sensor_model/[hit|miss]" value="0.7/0.4" /-->
      <!--param name="sensor_model/[min|max]" value="0.12/0.97" /-->

      <!-- The range of the map in z direction to use -->
      <param name="pointcloud_min_z" value="-1.5" />
      <param name="pointcloud_max_z" value="3.5" />

      <param name="save_directory" value="$(optenv OCTOMAP_SAVE_DIR ./)" />
      <param name="track_changes" value="true"/>
      <param name="listen_changes" value="false"/>
      <param name="topic_changes" value="/octomap_tracking_server/changeset" />
      <param name="change_id_frame" value="$(arg changeIdFrame)" />
      <param name="min_change_pub" value="0" />

      <!-- Remap ZED point cloud and OctoMap point cloud -->
      <remap from="/cloud_in" to="/riseq/estimation/point_cloud" />
    </node>
</launch>
