<launch>
  <arg name="rosbag_name" default="test1"/>
  <arg name="mav_name" default="iris"/>
  <rosparam command="load" file="$(find riseq_common)/config/drones/$(arg mav_name).yaml"/>
  <rosparam command="load" file="$(find riseq_common)/config/env/iros_settings.yaml" />

  <include file="$(find vrpn_client_ros)/launch/sample.launch">
    <arg name="server" value="192.168.1.118"/>
  </include>

  <include file="$(find mavros)/launch/px4.launch"/>

  <include file="$(find riseq_estimation)/launch/riseq_zedm_wrapper.launch"/>
  <node name="gate_global_pose" pkg="riseq_estimation" type="riseq_estimation_gate_global_pose.py"/>
  <!--node name="drift_estimator" pkg="riseq_estimation" type="riseq_estimation_EKF_SLAM_main.py" output="screen"/-->
  <node name="monocular_cv" pkg="riseq_perception" type="riseq_mono_waypoint_publisher.py"/>
  <node name="rosbag_record" pkg="rosbag" type="record"
        args="-o $(arg rosbag_name) /mavros/local_position/pose /mavros/local_position/velocity_local /zed/zed_node/odom /zed/zed_node/pose_with_covariance /zed/zed_node/left/camera_info  /riseq/perception/uav_mono_waypoint riseq/perception/uav_image_with_detections /vrpn_client_node/Fastquad/pose /vrpn_client_node/gatedown/pose /vrpn_client_node/gateright/pose /mavros/setpoint_position/local /riseq/drone/pose /riseq/drone/vo_drift /riseq/gate/pose /riseq/gate/observing /riseq/gate/lpf_global/camera_pose /riseq/gate/lpf_global/global_pose" />

  <!-- /zed/zed_node/left/image_rect_color -->

</launch>
