<launch>

  <arg name="rosbag_name" default="test1"/>
  <include file="$(find mavros)/launch/px4.launch"/>
  <include file="$(find vrpn_client_ros)/launch/sample.launch">
     <arg name="server" value="192.168.1.118"/>
  </include>
  <!--include file="$(find zed_wrapper)/launch/zedm.launch"/-->
  <include file="$(find riseq_estimation)/launch/riseq_zedm_wrapper.launch"/>
  <!--node name="monowaypoint" pkg="riseq_perception" type="riseq_mono_waypoint_publisher.py"/-->
  <!--node name="monowaypoint" pkg="riseq_trajectory" type="irosgate_detector.py"/-->
  <node name="rosbag_record" pkg="rosbag" type="record"
        args="-o $(arg rosbag_name) /zed/zed_node/left/camera_info /zed/zed_node/left/image_rect_color /vrpn_client_node/Fastquad/pose /vrpn_client_node/gatedown/pose /mavros/setpoint_position/local /mavros/local_position/pose"/>
</launch>
