<?xml version="1.0"?>
<launch>
	<include file="$(find riseq_gazebo)/launch/spawn_sdf.launch">
		<arg name="robot_name" default=""/>
		<arg name="x" default="0.0"/>
		<arg name="y" default="-2.0"/>
		<arg name="sdf_robot_file" default="$(find riseq_gazebo)/models/pole/pole.sdf"/>
	</include>

	<include file="$(find riseq_gazebo)/launch/spawn_sdf.launch">
		<arg name="robot_name" default=""/>
		<arg name="x" default="2.0"/>
		<arg name="y" default="-3.0"/>
		<arg name="sdf_robot_file" default="$(find riseq_gazebo)/models/pole/pole.sdf"/>
	</include>

	<include file="$(find riseq_gazebo)/launch/spawn_sdf.launch">
		<arg name="robot_name" default=""/>
		<arg name="x" default="4.0"/>
		<arg name="y" default="-2.0"/>
		<arg name="sdf_robot_file" default="$(find riseq_gazebo)/models/pole/pole.sdf"/>
	</include>

	<include file="$(find riseq_gazebo)/launch/spawn_sdf.launch">
		<arg name="robot_name" default=""/>
		<arg name="x" default="6.0"/>
		<arg name="y" default="-3.0"/>
		<arg name="sdf_robot_file" default="$(find riseq_gazebo)/models/pole/pole.sdf"/>
	</include>

	<include file="$(find riseq_gazebo)/launch/spawn_sdf.launch">
		<arg name="robot_name" default=""/>
		<arg name="x" default="8.0"/>
		<arg name="y" default="-2.0"/>
		<arg name="sdf_robot_file" default="$(find riseq_gazebo)/models/pole/pole.sdf"/>
	</include>


</launch>