<?xml version="1.0"?>
<launch>
	<include file="$(find riseq_gazebo)/launch/spawn_sdf.launch">
		<arg name="robot_name" default=""/>
		<arg name="x" default="5.0"/>
		<arg name="y" default="-2.0"/>
        <arg name="z" default="0"/>
        <arg name="roll" default="0.0"/>
		<arg name="pitch" default="0.0"/>
		<arg name="yaw" default="0.0"/>
		<arg name="sdf_robot_file" default="$(find riseq_gazebo)/models/ladder/ladder.sdf"/>
	</include>
</launch>